@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

/* zilla-slab-700 - latin */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 700;
  src: url('../src/fonts/ZillaSlab/zilla-slab-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../src/fonts/ZillaSlab/zilla-slab-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/ZillaSlab/zilla-slab-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../src/fonts/ZillaSlab/zilla-slab-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../src/fonts/ZillaSlab/zilla-slab-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../src/fonts/ZillaSlab/zilla-slab-v11-latin-700.svg#ZillaSlab') format('svg'); /* Legacy iOS */
}

/* fira-sans-300 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../src/fonts/FiraSans/fira-sans-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../src/fonts/FiraSans/fira-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-300.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/FiraSans/fira-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../src/fonts/FiraSans/fira-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-regular.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../src/fonts/FiraSans/fira-sans-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../src/fonts/FiraSans/fira-sans-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../src/fonts/FiraSans/fira-sans-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500.svg#FiraSans') format('svg'); /* Legacy iOS */
}
/* fira-sans-500italic - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: url('../src/fonts/FiraSans/fira-sans-v16-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../src/fonts/FiraSans/fira-sans-v16-latin-500italic.svg#FiraSans') format('svg'); /* Legacy iOS */
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans';
}

/*! navbar */

.kerasoftLogo {
  font-family: 'Zilla Slab';
  font-size: 1.7rem;
}

.marginForChildren > *{
  margin-right: 1rem;
}

.marginForChildren > *:hover{
  opacity: .85;
}

.menuListItem {
  background: -webkit-linear-gradient(#ad5389, #3c0053);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .menuListItem > * {
  padding-block: 3px;
}

.menuListItem:hover {
  background: -webkit-linear-gradient( 45deg, #2a1263, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-decoration: underline; */
  text-decoration-thickness: 2px;
  text-decoration-color: black;
  text-underline-offset: 1px;
}

/*! sidebar */

.drawer-side .menu>a {
  font-size: 1rem;
}

.sideBarContainer {
  min-height: max(92vh, 30rem);
}

/*! hero */

.gradient-text {
  background: -webkit-linear-gradient(#ad5389, #3c1053);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.balloon {
  max-height: calc(100vh - 3rem);
  animation: swing 10s linear infinite alternate forwards;
}



@keyframes swing {
  25% {
    transform: scale(.96) translate(4px, -50.1%);
  }
  50% {
    transform: translate(8px, -50.2%);
  }
  75% {
    transform: scale(1.01) translate(4px, -50.1%);
  }
  100% {
    transform: translate(-2px, -50.05%);
  }
}

.careerImg {
  animation: zoom 8s linear infinite alternate forwards;
}

@keyframes zoom {
  33% {
    transform: scale(1.03);
  }

  66% {
    transform: scale(1);
  }

  100% {
    transform: scale(.995);
  }
}

.arrowUp {
  animation: flicker 3s linear infinite forwards;
}

@keyframes flicker {
  25% {
    transform: translateY(-.2rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(.2rem);
  }
  100% {
    transform: translateY(0);
  }
}