@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Zilla+Slab:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

a:active {
  background-color: transparent;
}

/*! navbar */

.kerasoftLogo {
  font-family: 'Zilla Slab';
  font-size: 1.7rem;
}

.marginForChildren > *{
  margin-right: 1rem;
}

.marginForChildren > *:hover{
  opacity: .85;
}

li:hover {
  background: -webkit-linear-gradient( 45deg, #2a1263, orangered);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-decoration: underline; */
  text-decoration-thickness: 2px;
  text-decoration-color: black;
  text-underline-offset: 1px;
}

/*! sidebar */

.drawer-side .menu>a {
  font-size: 1rem;
}

li {
  font-size: 16px;
  background: -webkit-linear-gradient(#ad5389, #3c1053);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*! footer */

.footer-input-width {
  width: 19.4rem;
}

/*! hero */

.hero--heading {
  background: -webkit-linear-gradient(#ad5389, #3c1053);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 